<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/template/head')-%>

    <script src="/js/productlist.js"></script>
</head>
    <body>
        <!-- Navigation-->
        <%- include('../views/template/nav')-%>
        <!-- Section-->
      
        <section>
            <div class="container px-4 px-lg-5 mt-5">
                <p class="fs-6 mb-3">找到 <%=RespData.totalcnt %> 件 "<%= RespData.findname  %>" 商品</p>
                        
                   
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <% if (RespCode == '0000') { %>                
                        <% if(RespData.length > 0){ %>
                            <%  RespData.forEach(function(item) { %>
                                <div class="col mb-5">
                                    <div class="card">
                                        <div style="position:relative;">
                                         <!-- Product image-->
                                             <a class="text-decoration-none"  href="/product/detail/<%=item.productno %>" title="<%=item.productname %>">
                                                 <img class="card-img-top" src="<%=item.picpath %>" alt="<%=item.productname %>" />
                                             </a>
                                             <% if(item.cansalecount == 0){ %>
                                                <div style="position:absolute;z-indent:2;right:0;top:0;padding: 10px;font-weight: bolder;color: #e34e4e;font-size: larger;">
                                                    完售
                                                </div>
                                            <%}%> 
                                         </div>
                                       
                                        <!-- Product details-->
                                        <div class="card-body p-4">
                                            <div class="text-center">
                                                <!-- Product name-->
                                                <h5 class="fw-bolder"><%=item.productname %></h5>
                                                <!-- Product price-->
                                                <% if(item.specialprice > 0){ %>
                                                <span class="text-muted text-decoration-line-through"> NT$  <%=item.specialprice %></span>
                                                <% } %>
                                                NT$ <%=item.unitprice %>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                             <% }) %>
                         
                        <% } else { %>
                              查無資料
                        <% } %>
                           
                    <% } else { %>   
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center mt-5">發生錯誤請稍後在試 。 </div>

                    <% } %>
                          
                   
                </div>

            </div>
            <!-- Page-->

        <% if (RespCode == '0000') { %> 
            <% if(RespData.length > 0){ %>
            <div class="d-flex justify-content-center">
                <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                <% if(RespData.totalpage > 3 ) { %>
                    <input type="text" id ="txtnowpage" class="d-none" value="<%=RespData.nowpage %>" />
                    <input type="text" id ="txttotalpage"  class="d-none"  value="<%=RespData.totalpage %> "/>
                    <button type="button" class="btn btn-outline-secondary" onclick="prePage()" ><</button> 
                <% } %>
                <%  let front = false; %>
                <%  for(i=0;i < RespData.totalpage ;i++){ %>
                    <% if(((i+1) >=  parseInt(RespData.nowpage ,10) - 2) && ((i+1) <= parseInt(RespData.nowpage ,10) + 2) ) {%>
                        <% if(parseInt(RespData.nowpage ,10) == (i+1) ) {%>
                            <button type="button" class="btn btn-outline-secondary active" onclick="changePage('<%= i+1 %>')"><%= i+1  %></button>
                         <% } else{ %> 
                             <button type="button" class="btn btn-outline-secondary" onclick="changePage('<%= i+1 %>')" ><%= i+1  %></button>
                         <% } %> 
                    <% } else{ %> 
                        <% if(i == 0 && front == false ){ %>
                           <p class="fs-6 m-1">....</p> 
                           <% front = true; %>  
                        <% } %>  
                        <% if((i+1) > parseInt(RespData.nowpage ,10) + 2){ %>
                            <p class="fs-6 m-1">....</p> 
                          <% break;%>  
                       <% } %>  

                    <% } %> 
                <% } %> 
                <% if(RespData.totalpage > 3 ) { %>
                    <button type="button" class="btn btn-outline-secondary"  onclick="nextPage()">></button>
                <% } %>
                   
                </div>
                <div class="btn-group me-2" role="group">
                <% if(RespData.totalpage > 3 ) { %>    
                    <button id="btnGroupDrop1" type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      第  <%= RespData.nowpage %> 頁
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <%  for(i=0;i < RespData.totalpage ;i++){ %>
                    <li><a class="dropdown-item" onclick="changePage('<%= i+1 %>')" ><%= i+1  %></a></li>
                <% } %> 
                    </ul>
                <% } %>
                </div>
            </div>
           </div>
           <% } %>
         <% } %>
        </section>
          <!-- footer-->
        <%- include('../views/template/footer')-%>
    </body>
</html>
