<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../views/template/head')-%>

    <script src="/js/resetpassword.js"></script>

</head>
    <body>
        <!-- Navigation-->
        <%- include('../views/template/nav')-%>
           <!-- Cart section-->
           <section>
            <div class="container px-4 px-lg-5 mt-5" id="zero-pad">
              
                <div class="row d-flex justify-content-center mb-3">
                    <div class="col-lg-10 col-12 card p-0">
                        <div class="card-header">
                            重設密碼
                        </div>
                        <div class="card-body">
                            <% if (RespCode != '0000' ) { %> 
                                <div id="divalert_UpdatePw" class="alert alert-danger d-flex justify-content-center" role="alert"><%=RespDesc %> </div>
                            <% }else {%>
                                <div id="divalert_UpdatePw" class="alert alert-danger d-flex justify-content-center d-none" role="alert"><%=RespDesc %> </div>
                            <%}%>
                            <% if ( RespCode == '0000') { %> 
                                <form class="row g-3" id='resetpwfrom' >
                                    
                                    <% if ( from == 'web') { %>    
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="input-group w-50">
                                            <input type="password" class="form-control" name="oldpw" id="txtOldPw" placeholder="請輸入舊密碼">
                                        </div>
                                    </div>
                                    <%}%>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="input-group w-50">
                                            <input type="password" class="form-control" name="newpw" id="txtNewPw"  placeholder="請輸入新密碼">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="input-group w-50">
                                            <input type="password" class="form-control" name="newpwcheck" id="txtNewPwCheck"  placeholder="請再輸入新密碼">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="d-inline-flex">
                                            <input class="btn btn-outline-secondary" type="button" id="btnUpdatePwOK" onclick="btnUpdatePwOK_click()" value="確定"/> 
                                        </div>
                                    </div>
                                    <input type="hidden" class="form-control" name="token"   id="txttoken_UpdatePw" value="<%=token%>">
                                    <input type="hidden" class="form-control" name="email"  id="txtemail_UpdatePw"  value="<%=email%>">
                                    <input type="hidden" class="form-control" name="from"  id="txtfrom_UpdatePw"  value="<%=from%>">
                                    
                              </form>
                            <%}%>
                        </div>
                      </div>
                </div>
              
               
            </div>
           
          
        </section>
        
       
          <!-- footer-->
        <%- include('../views/template/footer')-%>
    </body>
</html>
